@import url('https://fonts.googleapis.com/css2?family=Libre+Bodoni:wght@700;900&family=Montserrat:wght@400;500;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syne:wght@800&family=Space+Mono:ital,wght@0,400;0,700;1,400&family=Libre+Baskerville:ital,wght@0,400;1,400&family=Archivo+Black&display=swap');
@font-face {
  font-family: 'Another Danger';
  src: url('./assets/fonts/Another\ Danger\ -\ Demo.otf') format('truetype');
}

@font-face {
  font-family: 'Griffiths';
  src: url('./assets/fonts/Griffiths.otf') format('opentype');
}

@font-face {
  font-family: 'Magazine';
  src: url('./assets/fonts/Magazine.ttf') format('opentype');
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background-color: #D6CEC3;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
}